/* work sans font adding */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles starts here */

.navbar ,
.banner ,
.team_and_features,
.some_facts {
    max-width: 1440px;
    margin: 0 auto;
}

.display_flex{
    display: flex;
}

.section_title {
    font-weight: bold;
    font-size: 2.8rem;
}

.banner_description,
.team_and_features .our_features p,
.some_facts .section_description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
}

.btn_primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}


/* Dark 01 */
.text_black{
    color: #131313;
}

/* Dark 02 */
.text_gray{
    color: #424242;
}

/* Dark 03 */
.text_light_gray{
    color: #727272;
}

/* Background Colors */
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Shared styles ends here  */


/* Header styles starts here  */

/* Header styles ends here  */

/* navbar styles starts here */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav_item{
    list-style: none;
    margin-right: 40px;
    
    
}
.nav_link{
   text-decoration: none; 
   font-weight: 500;
   font-size: 1.125rem;
}
/* navbar styles ends here */

/* banner styles starts here */

.banner_content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_title{
    font-weight: bold;
    font-size: 4rem;
}

.banner_image{
    width: 100%;
    margin-bottom: 45px;
}

/* banner styles ends here */

/* team and features section styles starts here */

.team_and_features {
    align-items: center;
    margin-top: 85px;
    gap: 73px;
    
}
.team_and_features .team_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team_and_features .our_features {
    max-width: 537px;
}

.team_and_features .our_features #quick_list {
    font-weight: 500;
    font-size: 2.8rem;
}
.team_and_features .our_features .of_our_features {
    font-weight: bold;
    font-size: 2.8rem;
}
.team_and_features .our_features .features {
    color: #FF900E;
}
.team_and_features .our_features p{
    margin-top: 24px;
    margin-bottom: 32px;
}

/* team and features section styles ends here */



/* features enjoy section styles starts here */


/* features enjoy section styles ends here */


/* some facts section styles starts here  */

.some_facts .section_description {
    max-width: 542px;
    margin-top: 24px;
}

.some_facts .facts_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1340px;
    margin: 100px auto 0;
}

.some_facts .facts_container .fact_card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.some_facts .facts_container .fact_card .fact_icon {
    margin-top: 45.92px;
}

.some_facts .facts_container .fact_card .fact_number {
    font-weight: 600;
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}

.some_facts .facts_container .fact_card .fact_name {
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-bottom: 60px;
    margin-top: 10px;
}


/* some facts section styles ends here  */


/* Responsive Media Query */

@media screen and (max-width:576px) {
    .navbar,
    
    .team_and_features {
        flex-direction: column;
    }

    .team_and_features .team_img_container,
    .some_facts .facts_container {
        grid-template-columns: 1fr;
    }

    .some_facts .facts_container {
        justify-items: center;
        gap: 24px;
    }

}

/* medium size device */

@media screen and (min-width:576px) and (max-width:992px) {

    .team_and_features {
        flex-direction: column;
    }
}