/* work sans font adding */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles starts here */

.display_flex{
    display: flex;
}

/* Dark 01 */
.text_black{
    color: #131313;
}

/* Dark 02 */
.text_gray{
    color: #424242;
}

/* Dark 03 */
.text_light_gray{
    color: #727272;
}

/* Background Colors */
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Shared styles ends here  */

/* Header styles starts here  */

/* Header styles ends here  */

/* navbar styles starts here */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav_item{
    list-style: none;
    margin-right: 40px;
    
    
}
.nav_link{
   text-decoration: none; 
   font-weight: 500;
   font-size: 1.125rem;
}
/* navbar styles ends here */